/* Brandon G   Custom  CSS  */
/* Last edited July 31, 2015 */


/* nav Bar  */

#brand{

    color: #F27935;		/*color: jaffa*/
    text-shadow: 2px 2px #F4B350;
}

.navbar-default .navbar-nav > li > a{

    color:#ecf0f1

}
.navbar-default .navbar-brand{
    color: #ecf0f1;		/* clouds */

}
					 

					 
.navbar-custom{
    background: #1e824c;	/*SALEM*/
    font-family: Helvetica;
    border-color: #1E824C;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{ 
    color: #ecf0f1;		/*Nephritis*/


}

.navbar-nav .open .dropdown-menu{

    background-color:#1e824c	/*Salem*/

    color:  #ecf0f1;		/*Nephritis*/
}

.body-custom{

    background-color: #26A65B;	/*Crusta*/

}

.dropdown-menu .divider{
    background-color: #E87E04;

}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{

    color:   #ecf0f1;
}

.dropdown-menu{

    background-color: #1e824c;
} 


.img custom-img{
    width: auto;
    height: 100%;
		 
    max-height: 225px; 
 
}


.carousel-inner img{

    margin: auto;
}


#mission-statemnt{		/*spelled funny*/
    color: #F27935;
    text-shadow:  2px 2px #F4B350;
    
}

#mission-statemnet-sent{	/*spelled funny*/
   font-size: 150%;
    color: #fff;
    text-align: center;


}